<%= render partial: "application/pageheader", locals: {pageTitle: "コンタクト要求一覧"} %>

<% if !@requests.empty? %>
<% @requests.each do |req| %>
    <%= link_to req.name, "/create_contact?user_id=#{req.user_id}" %><br />
<% end %>
<% else %>
<h3>コンタクト要求はありません。</h3>
<% end %>

<br />
<a href="/user_top">戻る</a><br />
