<%= render partial: "application/pageheader", locals: {pageTitle: "ユーザ検索結果"} %>

検索結果：<%= @userCount %>人<br />
<hr />

<% @users.each do |user| %>
    <%= user["name"] %><br />
<% end %>
<br />

<a href="/user_top">戻る</a><br />
