<% if flash.any? %>
    <!--
        CSSを使ったアニメーションを実装する為の仕掛け。
        見えないボタンのチェックを弄る事でアニメーションを再生する。
     -->
    <input type="checkbox" class="FlashButton" id="FlashButton" name="FlashButton">
    <script type="text/javascript">
        window.onload = function()
        {
            document.getElementById("FlashButton").checked = true;
            setTimeout(function()
            {
                document.getElementById("FlashButton").checked = false;
            }, 3000);
        }
    </script>
<% end %>

<% if flash[:notice] %>
    <div class="Flash Notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="Flash Alert">
        <%= flash[:alert] %>
    </div>
<% end %>

<div class="PageTitle">
    <%= pageTitle %>
</div>
<hr />
